@model banruou.Models.Product
<div class="product-item">
    <div class="product-img">
        <a href="@Url.Action("ProductDetail" , "Home" , new { Model.Url})">
            @if (Model.Image != null)
            {
                <img src="@Path.Combine("/images/product/", Model.ListImage.Split(',')[0])" alt="">
            }
            else
            {
                <img src="/Content/images/img-main/no-image.png" alt="NO PICTURE" class="img-fluid"/>
            }
        </a>
    </div>
    <div class="product-name">
        <a href="@Url.Action("ProductDetail" , "Home" , new { Model.Url})">
            <p>@Model.Name</p>
        </a>
    </div>
    <div class="product-price ">
        <p class="">@($"{Model.Price:#,##0.##}") đ</p>
    </div>
    <div class="product-btn">
        <a href="@Url.Action("ProductDetail" , "Home" , new { Model.Url})">
            <span>Đặt mua</span>
        </a>
    </div>
</div>