@using banruou.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="@ViewBag.Canonical" />
    @if (config.Favicon != null)
    {
        <link rel="shortcut icon" href="@Path.Combine("/images/configs/", config.Favicon)?w=64&h=64">
    }
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="@Html.Raw(ViewBag.Description)">
    <meta property="og:url" content="@ViewBag.Canonical">
    <meta property="og:site_name" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:image" content="@ViewBag.ImagShare" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet">

    @Styles.Render("~/content/css")


    @if (config.GoogleAnalytics != null)
    {
        @Html.Raw(config.GoogleAnalytics)
    }
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("scripts", false)
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0" nonce="di1pgAbX"></script>

    @if (config.LiveChat != null)
    {
        @Html.Raw(config.LiveChat)
    }
</body>
</html>