@model banruou.ViewModel.AllArticleViewModel
@using System.Data
@using PagedList.Mvc
@{
    ViewBag.Title = "Tất cả bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Action("Header")
<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tin tức</li>
    </ul>

    <div class="row">
        <div class="col-md-3">
            <div class="list-category">
                @Html.Action("GetNavMenu")
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var item in Model.Articles)
                {
                    <div class="col-md-4">
                        <div class="feed-item">
                            <a href="@Url.Action("ArticleDetail", "Home", new { url = item.Url })">
                                @if (item.Image != null)
                                {
                                    <div class="new-feed-item-img">
                                        <img src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject">
                                    </div>
                                }
                                <div class="new-feed-item-name">
                                    <p>@item.Subject</p>
                                </div>
                                <hr>
                                <div class="new-feed-item-description">
                                    <p>@item.Description</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Html.Action("Footer")