@model banruou.ViewModel.AllProductViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Sản phẩm";
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("AllProduct");
    ViewBag.Robots = "noindex";
}
@Html.Action("Header")
<section class="product-list">
    <div class="container">
        <div class="list-item">
            <div class="row">
                <div class="col-lg-3 order-lg-0 order-1">
                    <div class="list-category">
                        @Html.Action("GetNavProduct")
                    </div>
                </div>
                <div class="col-lg-9 order-lg-1 order-0">
                    @if (Model.Products.Any())
                    {
                        <div class="row">
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-lg-4 col-6">
                                    @Html.Partial("_itemProduct", item)
                                </div>
                            }
                        </div>
                        if (Model.Products.PageCount > 1)
                        {
                            <div class="text-center">
                                @Html.PagedListPager(Model.Products, page => Url.Action("AllProduct", new { page }))
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info">Không có sản phẩm nào.</div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Action("Footer")

