@model banruou.ViewModel.ArticleCategoryViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = Model.Category.TitleMeta ?? Model.Category.CategoryName;
    ViewBag.Description = Model.Category.DescriptionMeta ?? Model.Category.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ArticleCategory", "Home", new { url = Model.Category.Url });
}
@Html.Action("Header")
    <section class="list-new-feed">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                @if (Model.RootCategory != null)
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("ArticleCategory", new{url = Model.RootCategory.Url})">@Model.RootCategory.CategoryName</a></li>
                }
                <li class="breadcrumb-item active">@Model.Category.CategoryName</li>
            </ul>
            <div class="gift-title text-center">
                <h1>@Model.Category.CategoryName</h1>
            </div>

            @if (Model.Articles.Any())
            {
                <div class="row mt-lg-4 mt-3">
                    @foreach (var item in Model.Articles)
                    {
                        <div class="col-md-3">
                            <div class="feed-item">
                                <a href="@Url.Action("ArticleDetail", "Home", new { url = item.Url })">
                                    @if (item.Image != null)
                                    {
                                        <div class="new-feed-item-img">
                                            <img src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject">
                                        </div>
                                    }
                                    <div class="new-feed-item-name">
                                        @item.Subject
                                    </div>
                                    <hr>
                                    <div class="new-feed-item-description">
                                        @item.Description
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                if (Model.Articles.PageCount > 1)
                {
                    <div class="text-center">
                        @Html.PagedListPager(Model.Articles, page => Url.Action("ArticleCategory", new { page, url = Model.Category.Url }))
                    </div>
                }
            }
            else
            {
                <div class="mb-5 mt-5">
                    <p class="alert alert-success small">Nội dung hiện chưa được cập nhật. Vui lòng quay lại sau !!!!</p>
                </div>
            }
        </div>
    </section>
@Html.Action("Footer")

