@model banruou.ViewModel.ArticleCategoryViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = Model.Category.TitleMeta ?? Model.Category.CategoryName;
    ViewBag.Description = Model.Category.DescriptionMeta ?? Model.Category.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ArticleCategory", "Home", new { url = Model.Category.Url });
}
@Html.Action("Header")
@if (Model.Articles.Any())
{
    <section class="list-new-feed">
        <div class="container">
            <div class="list-new-feed-title">
                <h3>Danh sách bài viết</h3>
            </div>
            <div class="list-new-feed-item">
                <div class="row">
                    <div class="row">
                        @foreach (var item in Model.Articles)
                        {
                            <div class="col-md-3">
                                <div class="feed-item">
                                    <a href="@Url.Action("ArtilceDetail", "Home" , new { url = item.Url })">
                                        <div class="new-feed-item-img">
                                            <img src="@Path.Combine("/images/articles/" , item.Image)" alt="">
                                        </div>
                                        <div class="new-feed-item-name">
                                            <p>@item.Subject</p>
                                        </div>
                                        <hr>
                                        <div class="new-feed-item-description">
                                            <p>@item.Description</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="container">

        <div class="mb-5 mt-5">
            <p class="alert alert-success small">Nội dung hiện chưa được cập nhật. Vui lòng quay lại sau !!!!</p>
        </div>
    </div>

}
@Html.Action("Footer")

