@model banruou.ViewModel.FooterViewModel
@using banruou.Models

@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];

}
<section class="footer">
    <div class="container">
        <div class="row">
            <div class=" col-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-title">Hỗ trợ khách hàng</div>
                    @if (Model.Policies.Any(a => a.ParentId == null))
                    {
                        <div class="footer-list">
                            <ul>
                                @foreach (var item in Model.Policies)
                                {
                                    <li><a href="@Url.Action("ArticleCategory", "Home", new { url = item.Url })">@item.CategoryName</a></li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-title">Danh mục sản phẩm</div>
                    @if (Model.FooterProduct.Any())
                    {
                        <div class="footer-list">
                            <ul>
                                @foreach (var item in Model.FooterProduct)
                                {
                                    <li><a href="@Url.Action("CategoryProduct" , "Home" , new { Url = item.Url })">@item.CategoryName</a></li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-title">Thông tin công ty</div>
                    @if (Model.Introduce.Any(a => a.ParentId == null))
                    {
                        <div class="footer-list">
                            <ul>
                                @foreach (var item in Model.Introduce)
                                {
                                    <li><a href="@Url.Action("ArticleCategory", "Home", new { url = item.Url })">@item.CategoryName</a></li>
                                }
                            </ul>
                        </div>
                    }

                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-title">
                        Chúng tôi trên Google Map
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        @Html.Raw(config.GoogleMap)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="text-white" />
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="footer-list text-white">
                        @Html.Raw(config.InfoFooter)
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="embed-responsive">
                        <div class="fb-page" data-href="@config.Facebook" data-tabs="" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="@config.Facebook" class="fb-xfbml-parse-ignore">
                                <a href="@config.Facebook">@config.Title</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="plugin">
    <div class="social-button">
        <div class="social-button-content">
            <a href="@config.Facebook" target="_blank" rel="nofollow" class="mes rung">
                <img src="~/Content/images/messenger.png" alt="Chat Messenger">
            </a>
            <a href="https://zalo.me/@config.Zalo" rel="nofollow" target="_blank" class="zalo rung">

                <img src="~/Content/images/zalo.png" alt="Chat Zalo">
            </a>
            <a href="tel:@config.Hotline" rel="nofollow">
                <i class="fa fa-phone"></i>
            </a>
        </div>

    </div>
</section>
<section class="back-to-top">
    <div class="back-to-top-item">
        <i class="fa fa-angle-up"></i>
    </div>
</section>
