@model banruou.ViewModel.HeaderViewModel
@using banruou.Models
@{ var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"]; }

<section class="nav-menu">
    <div class="header-repon">
        <div class="menu-nav">
            <div class="icon-item">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="icon-item active">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="header-rp-lg">
            <a class="header-rp-link" href="@Url.Action("Index" , "Home")">
                @if(config.Image != null)
            {
                <img src="@Path.Combine("/images/configs/" , config.Image)" alt="@config.Title" />
            }
            </a>
        </div>
    </div>
    <div class="menu-item">
        <ul class="list-menu">
            <li><a href="@Url.Action("Index")">Trang chủ</a></li>

            @if (Model.IntroduceCat.Any(a => a.ParentId == null))
            {
                foreach (var item in Model.IntroduceCat.Where(a => a.ParentId == null))
                {
                    <li>
                        <a href="@Url.Action("ArticleCategory", "Home", new { url = item.Url })">
                            @item.CategoryName
                        </a>
                        @if (Model.IntroduceCat.Any(a => a.ParentId == item.Id))
                        {
                            <ul class="ul-reset sub-nav-mb">
                                @foreach (var child in Model.IntroduceCat.Where(a => a.ParentId == item.Id))
                                {
                                    <li>
                                        <a href="@Url.Action("ArticleCategory", "Home", new { url = child.Url })">
                                            @child.CategoryName
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            }
            @if (Model.ProductCategories.Any())
            {
                foreach (var item in Model.ProductCategories.Where(a => a.ParentId == null))
                {
                    <li>
                        <a href="@Url.Action("CategoryProduct","Home" , new { item.Url })">
                            @item.CategoryName
                        </a>
                        @if (Model.ProductCategories.Any(a => a.ParentId == item.Id))
                        {
                            <ul class="child-menu">
                                @foreach (var child in Model.ProductCategories.Where(a => a.ParentId == item.Id))
                                {
                                    <li>
                                        <a href="@Url.Action("CategoryProduct","Home" , new { child.Url })">
                                            @child.CategoryName
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            }

            @if (Model.Articles.Any(a => a.ParentId == null))
            {
                foreach (var item in Model.Articles.Where(a => a.ParentId == null))
                {
                    <li>
                        <a href="@Url.Action("CategoryProduct","Home" , new { item.Url })">
                            @item.CategoryName
                        </a>
                        @if (Model.Articles.Any(a => a.ParentId == item.Id))
                        {
                            <ul class="child-menu">
                                @foreach (var child in Model.Articles.Where(a => a.ParentId == item.Id))
                                {
                                    <li>
                                        <a href="@Url.Action("CategoryProduct","Home" , new { child.Url })">
                                            @child.CategoryName
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            }
            <li><a href="@Url.Action("AllArtilce" , "Home")">Tin tức</a></li>
        </ul>
    </div>
</section>
<section class="header">
    <div class="container">
        <div class="row header-top">
            <div class="col-lg-4 col-md-4 header-top-logo">
                <div class="header-logo">
                    <div class="logo-item">
                        <a href="@Url.Action("Index" , "Home")">
                            <img src="@Path.Combine("/images/configs/" , config.Image)" alt="@config.Title" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="header-menu">
                    <div class="menu-item">
                        <ul class="list-menu d-flex align-items-center">
                            <li><a href="@Url.Action("Index")">Trang chủ</a></li>
                            <li><a href="@Url.Action("AllProduct")">Sản phẩm</a></li>

                            @if (Model.IntroduceCat.Any(a => a.ParentId == null))
                            {
                                foreach (var item in Model.IntroduceCat.Where(a => a.ParentId == null))
                                {
                                    <li>
                                        <a href="@Url.Action("ArticleCategory", "Home", new { url = item.Url })">
                                            @item.CategoryName
                                        </a>
                                        @if (Model.IntroduceCat.Any(a => a.ParentId == item.Id))
                                        {
                                            <ul class="ul-reset sub-nav-mb">
                                                @foreach (var child in Model.IntroduceCat.Where(a => a.ParentId == item.Id))
                                                {
                                                    <li>
                                                        <a href="@Url.Action("ArticleCategory", "Home", new { url = child.Url })">
                                                            @child.CategoryName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            }
                            @if (Model.Articles.Any(a => a.ParentId == null))
                            {
                                foreach (var item in Model.Articles.Where(a => a.ParentId == null))
                                {
                                    <li>
                                        <a href="@Url.Action("ArticleCategory","Home" , new { item.Url })">
                                            @item.CategoryName
                                        </a>
                                        @if (Model.Articles.Any(a => a.ParentId == item.Id))
                                        {
                                            <ul class="child-menu">
                                                @foreach (var child in Model.Articles.Where(a => a.ParentId == item.Id))
                                                {
                                                    <li>
                                                        <a href="@Url.Action("ArticleCategory","Home" , new { child.Url })">
                                                            @child.CategoryName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            }
                            @if (Model.ProductCategories.Any())
                            {
                                foreach (var item in Model.ProductCategories.Where(a => a.ParentId == null))
                                {
                                    <li>
                                        <a href="@Url.Action("CategoryProduct","Home" , new { item.Url })">
                                            @item.CategoryName
                                        </a>
                                        @if (Model.ProductCategories.Any(a => a.ParentId == item.Id))
                                        {
                                            <ul class="child-menu">
                                                @foreach (var child in Model.ProductCategories.Where(a => a.ParentId == item.Id))
                                                {
                                                    <li>
                                                        <a href="@Url.Action("CategoryProduct","Home" , new { child.Url })">
                                                            @child.CategoryName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            }


                            <li><a href="@Url.Action("AllArtilce" , "Home")">Tin tức</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

