@model banruou.ViewModel.HomeViewModel
@using banruou.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = config.Title;
    ViewBag.Description = config.Description;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("Index");
    var fb = Model.Banners.FirstOrDefault(a => a.GroupId == 1);
    if (fb?.Image != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/banners/", fb.Image);
    }
}

@Html.Action("Header")
@if (Model.Banners.Any(a => a.GroupId == 1))
{
    <section class="banner">
        @foreach (var item in Model.Banners.Where(a => a.GroupId == 1))
        {
            <div class="banner-item">
                <a href="@item.Url">
                    <img src="@Path.Combine("/images/banners", item.Image)" alt="@item.BannerName">
                </a>
            </div>
        }
    </section>
}

<div class="container paddig-section">
    <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
            @if (config.AboutImage != null)
            {
                <img src="@Path.Combine("/images/configs/", config.AboutImage)" alt="@config.Title" class="img-fluid" />
            }
        </div>
        <div class="col-lg-6" data-aos="fade-left">
            <div class="content-detail">
                @Html.Raw(config.AboutText)
            </div>
            <a href="@config.AboutUrl" class="btn btn-danger">Xem thêm</a>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container paddig-section">
        <h1 class="text-center section-name" data-aos="zoom-in">DANH MỤC SẢN PHẨM</h1>
        <div class="category-slides">
            @foreach (var category in Model.Categories.Where(a => a.ParentId == null))
            {
                <div class="item-category">
                    <a href="@Url.Action("CategoryProduct", new{url = category.Url})">
                        @if (category.Image != null)
                        {
                            <img src="@Path.Combine("/images/categories/", category.Image)" class="img-fluid" alt="@category.CategoryName" />
                        }
                        else
                        {
                            <img src="/Content/images/img-main/no-image.png" class="img-fluid" alt="NO PICTURE" />
                        }
                        <div class="name">@category.CategoryName</div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
@if (Model.HomeBlocks.Any())
{
    <section class="gift">
        <div class="container">
            @foreach (var item in Model.HomeBlocks)
            {
                var delay = 0;
                <div class="gift-title text-center">
                    <h2>@item.Category.CategoryName</h2>
                </div>
                <div class="gift-content">
                    <div class="row">
                        @foreach (var product in item.Products)
                        {
                            <div class="col-lg-3 col-md-4 col-6" data-aos="fade-up" data-aos-delay="@delay">
                                @Html.Partial("_itemProduct", product)
                            </div>
                            delay += 200;
                        }
                    </div>
                </div>
            }
        </div>
    </section>
}
@if (Model.NewArticles.Any())
{
    var delay = 0;
    <section class="classify">
        <div class="container">
            <div class="gift-title text-center">
                <h2>Bài viết mới nhất</h2>
            </div>
            <div class="gift-content">
                <div class="row">
                    @foreach (var item in Model.NewArticles)
                    {
                        <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="@delay" >
                            <div class="feed-item">
                                <a href="@Url.Action("ArticleDetail", "Home", new { url = item.Url })">
                                    @if (item.Image != null)
                                    {
                                        <img src="@Path.Combine("/images/articles/", item.Image)" alt="@item.Subject">
                                    }
                                    <div class="new-feed-item-name">@item.Subject</div>
                                    <div class="new-feed-item-description">@item.Description</div>
                                </a>
                            </div>
                        </div>
                        delay+=200;
                    }
                </div>
                <div class="show-all">
                    <a href="@Url.Action("AllArtilce" , "Home")">
                        Xem tất cả
                    </a>
                </div>
            </div>
        </div>
    </section>
}

@Html.Action("Footer")

@section scripts
{
    <script>
        homeJs();
    </script>
}