@model banruou.ViewModel.ProductDetailViewModel
@using banruou.Models
@using Helpers
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = Model.Product.TitleMeta ?? Model.Product.Name;
    ViewBag.Description = Model.Product.DescriptionMeta ?? Html.CutString(Html.RemoveHtml(Model.Product.Body), 150);
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ProductDetail", new { url = Model.Product.Url });
    if (Model.Product.Image != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/services/", Model.Product.Image);
    }
}
@Html.Action("Header")
<section class="product-detail">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a></li>
            @foreach (var category in Model.Product.ProductCategories)
            {
                <li class="breadcrumb-item"><a href="@Url.Action( "CategoryProduct" ,"Home" , new { url = category.Url })">@category.CategoryName</a></li>
            }
            <li class="breadcrumb-item active" aria-current="page">@Model.Product.Name</li>
        </ol>
        <div class="row">
            <div class="col-lg-6">
                @if (Model.Product.ListImage != null)
                {
                    var arr = Model.Product.ListImage.Split(',');
                    <div class="product-detail-list">
                        @foreach (var item in arr)
                        {
                            <div class="product-detail-img">
                                <img src="@Path.Combine("/images/Product/", item)" alt="@Model.Product.Name">
                            </div>
                        }
                    </div>
                    <div class="product-slide">
                        @foreach (var item in arr)
                        {
                            <div class="product-slide-item">
                                <img src="@Path.Combine("/images/Product/", item)" alt="@Model.Product.Name">
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-6">
                <div class="product-detail-infor">
                    <h1 class="product-detail-name">
                        @Model.Product.Name
                    </h1>
                    <hr>
                    @if (Model.Product.Price == null)
                    {
                        <div class="price-detail">
                            <a href="tel:@config.Hotline">Liên hệ</a>
                        </div>
                    }
                    else if (Model.Product.Price != null)
                    {
                        <div class="price-detail">
                            @($"{Model.Product.Price:n0}") đ
                        </div>
                    }
                    <hr />
                </div>
                @if (Model.Product.PropertyAndProductDetails.Any())
                {
                    foreach (var property in Model.Product.PropertyAndProductDetails)
                    {
                        <div class="detail-discription-item text-muted">
                            <span>@property.PropertyOfProduct.Name</span>
                            <span>: @property.Name</span>
                        </div>
                    }
                }
                @*<div class="product-detail-discription">
                        @if (Model.Product.Country != null)
                        {
                            <div class="detail-discription-item text-muted">
                                <span>Xuất sứ :</span>
                                <span>@Model.Product.Country</span>
                            </div>
                        }
                        @if (Model.Product.Material != null)
                        {
                            <div class="detail-discription-item text-muted">
                                <span>Chất liệu :</span>
                                <span>@Model.Product.Material</span>
                            </div>
                        }
                        @if (Model.Product.Capacity != null)
                        {
                            <div class="detail-discription-item text-muted">
                                <span>Sức chứa :</span>
                                <span>@Model.Product.Capacity</span>
                            </div>
                        }
                        @if (Model.Product.Application != null)
                        {
                            <div class="detail-discription-item text-muted">
                                <span>Ứng dụng :</span>
                                <span>@Model.Product.Application</span>
                            </div>
                        }
                    </div>*@
                <div class="row my-3">
                    <div class="col-6">
                        <a class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModalToggle" role="button"><i class="fa fa-bags-shopping"></i> Đặt mua hàng</a>
                    </div>
                    <div class="col-6">
                        <a href="tel:@config.Hotline" class="btn btn-primary btn-block"><i class="fa fa-headphones"></i> Liên hệ tư vấn</a>
                    </div>
                </div>
                @if (config.ProductNote != null)
                {
                    <div class="customer-care text-muted">
                        @Html.Raw(config.ProductNote)
                    </div>
                }
            </div>
        </div>

        @if (Model.Product.Body != null)
        {
            <div class="product-artilce-content border">
                @Html.Raw(Model.Product.Body)
            </div>
        }
    </div>
</section>

@if (Model.Products.Any())
{
    <section class="related-products">
        <div class="container">
            <div class="gift-title text-center">
                <h2>Sản phẩm liên quan</h2>
            </div>
            <div class="related-products-list">
                <div class="row">
                    @foreach (var item in Model.Products.Take(8))
                    {
                        <div class="col-lg-3 col-md-4 col-6">
                            @Html.Partial("_itemProduct", item)
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
@Html.Action("Order")
@Html.Action("Footer")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        productJs();
    </script>
}