@model banruou.ViewModel.ProductDetailViewModel
@using banruou.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = Model.Product.TitleMeta ?? Model.Product.Name;
    ViewBag.Description = Model.Product.DescriptionMeta ?? Model.Product.Body;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ServiceDetail", new { url = Model.Product.Url });
    if (Model.Product.Image != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/services/", Model.Product.Image);
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Header", "Home")
<section class="product-detail">
    <nav aria-label="breadcrumb">
        <div class="container bg">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index")">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action( "CategoryProduct" ,"Home" , new { url = Model.Product.ProductCategory.Url })">@Model.Product.ProductCategory.CategoryName</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Product.Name</li>
            </ol>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                @if (Model.Product.Image != null)
                {
                    <div class="product-detail-img border">
                        <img src="@Path.Combine("/images/Product/", Model.Product.ListImage.Split(',')[0])" alt="">
                    </div>
                }


            </div>
            <div class="col-lg-5">
                <div class="product-detail-infor">
                    <div class="product-detail-name">
                        <h3 class="text-danger">@Model.Product.Name</h3>
                    </div>
                    <hr>
                    <div class="product-detail-name">
                        <h3 class="text-danger">
                            @String.Format("{0:n0}", @Model.Product.Price) đ                       
                        </h3>
                    </div>
                </div>
                <div class="product-detail-discription">
                    @if (Model.Product.Material != null)
                    {
                        <div class="detail-discription-item fst-italic text-muted">
                            <span>Chất liệu :</span>
                            <span>@Model.Product.Material</span>
                        </div>
                    }
                    @if (Model.Product.Country != null)
                    {
                        <div class="detail-discription-item fst-italic text-muted">
                            <span>Xuất sứ  :</span>
                            <span>@Model.Product.Country</span>
                        </div>
                    }
                    @if (Model.Product.Capacity != null)
                    {
                        <div class="detail-discription-item fst-italic text-muted">
                            <span>Sức chứa :</span>
                            <span>@Model.Product.Capacity</span>
                        </div>
                    }
                </div>
                <div class="introduction text-muted">
                    <p>@config.Introduce</p>
                </div>
                <div class="product-detail-btn">
                    <div class="row">
                        <div class="col-6 col-lg-4">
                            <div class="btn-item">
                                <a class="btn btn-danger" data-bs-toggle="modal" href="#exampleModalToggle" role="button"> <i class="fa-solid fa-cart-shopping"></i> Đặt mua hàng</a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="btn-item">
                                <a href="tel:@config.Hotline" class="btn btn-primary"><i class="fa-sharp fa-solid fa-headphones"></i> Liên hệ tư vấn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="customer-care fst-italic text-muted">
                    <span>Chăm sóc khách hàng</span>
                    <p>Gợi ý khiếu lại (8h00 - 17h30)</p>
                    <div class="customer-item">
                        <span class="fw-bolder">Hà Nội: </span>
                        <a class="text-muted" href="tel:@config.Hotline"> @config.Hotline</a>
                    </div>
                    <div class="customer-item">
                        <span class="fw-bolder">HCM: </span>
                        <a class="text-muted" href="tel:@config.Hotline3"> @config.Hotline3</a>
                    </div>
                    <div class="customer-item">
                        <span class="fw-bolder">Email: </span>
                        <a class="text-muted" href="mailto:@config.Email"> @config.Email</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
@if (Model.Products.Any())
{
    <section class="related-products">
        <div class="container">
            <div class="related-products-title">
                <h3>Sản phẩm liên quan</h3>
            </div>
            <div class="related-products-list">
                <div class="row">
                    @foreach (var item in Model.Products.Take(8))
                    {
                        <div class="col-lg-3 col-6">
                            <div class="product-item related-item ">
                                <div class="product-img">
                                    <a href="@Url.Action("ProductDetail" , "Home" , new { item.Url })">
                                        <img src="@Path.Combine("/images/Product/" , item.ListImage.Split(',')[0])" alt="">
                                    </a>
                                </div>
                                <div class="product-name">
                                    <a href="@Url.Action("ProductDetail" , "Home" , new { item.Url })">
                                        <p>@item.Name</p>
                                    </a>
                                </div>
                                <div class="product-price ">
                                    <p class="">@String.Format("{0:#,##0.##}", Model.Product.Price)đ</p>
                                </div>
                                <div class="product-btn">
                                    <a href="@Url.Action("ProductDetail" , "Home" , new { item.Url })">
                                        <span>Đặt mua</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}
@Html.Action("Order")
@Html.Action("Footer")